/* Imposta sfondo nero e testo verde per tutto il corpo della pagina */
body {
    background-color: #000; /* Sfondo nero */
    color: #00ff00; /* Testo verde Matrix */
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Stili per il canvas in background */
#matrixCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Stili per la struttura della pagina */
.content {
    position: relative;
    z-index: 1;
    padding: 10px;
    max-width: 800px;
    margin: 0 auto;
    color: #00ff00; /* Testo verde Matrix */
}

header, main, footer {
    background-color: rgba(0, 50, 0, 0.5); /* Sfondo trasparente */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Stile per i titoli */
h1, h2 {
    color: #00ff00; /* Colore verde Matrix */
    margin-top: 0;
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00; /* Effetto neon */
}

/* Stile per i paragrafi */
p {
    color: #00ff00; /* Testo verde Matrix */
    margin-bottom: 1.5em;
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00; /* Effetto neon */
}

/* Stile per i link nel menu di navigazione */
nav a {
    color: #00ff00; /* Colore verde Matrix */
    margin: 0 10px;
    text-decoration: none;
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00; /* Effetto neon */
}

/* Hover per i link */
a:hover {
    text-decoration: underline;
    color: #00ff00; /* Mantiene il colore Matrix */
}

/* Stili per il form */
input[type="email"], textarea {
    background-color: black;
    color: #00ff00; /* Testo verde Matrix */
    border: 2px solid #00ff00; /* Bordo verde Matrix */
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}





#matrix-button {
    background-color: #000; /* Sfondo nero */
    color: #00ff00; /* Testo verde Matrix */
    border: 2px solid #00ff00; /* Bordo verde */
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px #00ff00, 0 0 15px #00ff00, 0 0 30px #00ff00; /* Bagliore verde */
}

#matrix-button:hover {
    background-color: #00ff00; /* Cambia lo sfondo a verde Matrix */
    color: #000; /* Testo nero */
    box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 40px #00ff00; /* Effetto glow più forte */
}

#matrix-button:active {
    transform: scale(0.95); /* Effetto click */
}
